<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>£0.08P PER MESSAGE</h1>
    <a href="http://localhost:3000/message">View Messages Page</a>
  </body>
</html>
