<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  </head>
  <body>
    <div class="container">
      <center>
        <h1 class="space">Hack100's Hack Manchester Clockwork Challange Submission</h1>
        <br><hr>
        <h6>Created by Kasim, Yusuf and Rizwanulah</h6>
        <button class="btn btn-primary space"><a type="btn" class="text-light" href="http://localhost:3000/message">View Messages Page</a></button>
      </center>
    </div>
  </body>
</html>
